/* Estilos generales del cuerpo de la página */
/*body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo general */
/* } */

/* Estilos del contenedor principal del formulario */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco del formulario */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilos del encabezado del formulario */
.form-header {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para el fondo azul */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Azul */
/*    background-image: url('../imagenes/logo-duoc.png'); /* Ruta de la imagen del logo */

.header {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}
.header img {
   height: 50px;
   margin-right: 10px;
   background-position: center;
}
.header h2 {
   margin: 0;
   font-size: 1.5rem;
}
/*    color: #400;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50px; */
}

/* Estilos para el texto en negrita */
.bold {
    font-weight: bold;
}
/* Estilos para el formulario */
.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos para los botones */
.form-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Azul */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #0056b3; /* Azul oscuro al pasar el mouse */
}
